apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jellyfin
  namespace: argocd
spec:
  project: default
  source:
    chart: jellyfin
    repoURL: https://jellyfin.github.io/jellyfin-helm
    targetRevision: 2.7.0
    helm:
      releaseName: jellyfin
      valuesObject:
        image:
          repository: docker.io/jellyfin/jellyfin
          tag: "10.11.5"
          pullPolicy: IfNotPresent

        resources:
          requests:
            cpu: 293m
            memory: 1160Mi
          limits:
            memory: 1160Mi

        jellyfin:
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Paris"

        persistence:
          config:
            enabled: true
            accessMode: ReadWriteOnce
            size: 3Gi
            storageClass: "longhorn"
          media:
            enabled: true
            type: "pvc"
            existingClaim: "media-qbittorrent-downloads"

        ingress:
          enabled: false

  destination:
    server: "https://kubernetes.default.svc"
    namespace: media

  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
