apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: qbittorrent
  namespace: argocd
spec:
  project: default
  source:
    chart: qbittorrent
    repoURL: https://charts.gabe565.com
    targetRevision: 0.4.1
    helm:
      releaseName: media
      valuesObject:
        image:
          repository: ghcr.io/linuxserver/qbittorrent
          tag: "5.1.4"
          pullPolicy: IfNotPresent

        env:
          TZ: "Europe/Paris"
          PUID: "1000"
          PGID: "1000"

        nodeSelector:
          kubernetes.io/hostname: hometheo-control-plane-1

        ingress:
          main:
            enabled: false

        persistence:
          config:
            enabled: true
            storageClassName: "longhorn"
            accessMode: ReadWriteOnce
            size: 1Gi
          downloads:
            enabled: true
            mountPath: /data
            storageClassName: "longhorn"
            accessMode: ReadWriteOnce
            size: 30Gi
          media:
            enabled: false


  destination:
    server: "https://kubernetes.default.svc"
    namespace: media

  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
