apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: filebrowser
  name: filebrowser
  namespace: media
spec:
  ports:
  - name: 8080-8080
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: filebrowser
  type: ClusterIP
status:
  loadBalancer: {}
