apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: homepage
    repo: https://unknowniq.github.io/helm-charts/
    version: 1.8.2
    releaseName: homepage
    namespace: homepage
    valuesInline:
      persistence:
        config:
          enabled: false
          accessMode: ReadWriteOnce
          size: 50Mi
          storageClass: "longhorn"
      service:
        annotations:
          tailscale.com/expose: "true"
          tailscale.com/hostname: "homepage"
      env:
        - name: HOMEPAGE_ALLOWED_HOSTS
          value: "*"
      config:
        services:
          - Media:
              - Sonarr:
                  href: https://sonarr.hometheo.click
                  description: Sonarr
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/sonarr.svg
                  namespace: media
                  app: sonarr
              - Jellyfin:
                  href: https://jellyfin.hometheo.click
                  description: Jellyfin
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/jellyfin.svg
                  namespace: media
                  app: jellyfin
              - Plex:
                  href: https://plex.hometheo.click
                  description: Plex Media Server
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/plex.svg
                  namespace: media
                  app: plex-media-server
              - FileBrowser:
                  href: https://file.hometheo.click
                  description: Filebrowser
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/filebrowser.svg
                  namespace: media
                  app: filebrowser

          - Monitoring:
              - Grafana:
                  href: https://grafana.hometheo.click
                  description: Grafana
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/grafana.svg
                  namespace: monitoring
                  app: grafana
              - UptimeKuma:
                  href: https://uptime.hometheo.click
                  description: Uptime Kuma
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/uptime-kuma.svg
                  namespace: uptime-kuma
                  app: uptime-kuma
              - Prometheus:
                  href: http://prometheus.tail622099.ts.net:9090/
                  description: Prometheus
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/prometheus.svg
                  namespace: monitoring
                  app: prometheus
              - AlertManager:
                  href: http://prometheus-alertmanager.tail622099.ts.net:9093/
                  description: Prometheus Alert Manager
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/prometheus.svg
                  namespace: monitoring
                  app: alertmanager

          - Deployment:
              - ArgoCD:
                  href: https://argo.hometheo.click
                  description: ArgoCD
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/argo-cd.svg
              - KRR:
                  href: http://krr.tail622099.ts.net/
                  description: Kubernetes Resource Recommendations
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/kubernetes.svg

          - Productivity:
              - Linkwarden:
                  href: https://link.hometheo.click
                  description: Linkwarden
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/linkwarden.png
                  namespace: linkwarden
                  app: linkwarden

          - Operations:
              - Longhorn:
                  href: http://longhorn.tail622099.ts.net/
                  description: Longhorn
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/longhorn.svg
              - WUD:
                  href: http://nas.tail622099.ts.net:3000/
                  description: "What's Up Docker"
                  icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/whats-up-docker.svg
        kubernetes:
          mode: cluster
          gateway: true

        widgets:
          - datetime:
              format:
                timeStyle: short
                hourCycle: h23
        settings:
          layout:
            Media:
              style: row
              columns: 4
              iconsOnly: true

patches:
  - path: clusterrole-patch.yaml
    target:
      kind: ClusterRole
      name: homepage
