apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: krr
  namespace: argocd
spec:
  project: default
  source:
    chart: simple-krr-dashboard
    repoURL: https://devops-ia.github.io/helm-simple-krr-dashboard
    targetRevision: 1.3.0
    helm:
      valuesObject:
        resources:
          limits:
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 100Mi
  destination:
    server: "https://kubernetes.default.svc"
    namespace: krr
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
