apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../base/resources/landing

patches:
  # Patch HTTPRoute hostname for etcd.me root domain
  - target:
      kind: HTTPRoute
      name: landing-route
    patch: |
      - op: replace
        path: /spec/hostnames/0
        value: etcd.me
      - op: replace
        path: /spec/parentRefs/0/sectionName
        value: https-root
  # Patch HTTP redirect for root domain
  - target:
      kind: HTTPRoute
      name: landing-http-redirect
    patch: |
      - op: replace
        path: /spec/hostnames/0
        value: etcd.me
      - op: replace
        path: /spec/parentRefs/0/sectionName
        value: http-root
