apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-routes
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  project: default
  source:
    repoURL: https://github.com/TheoPoc/homelab
    targetRevision: HEAD
    path: argocd/gateway/routes
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
