apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
  namespace: media
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: filebrowser
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: filebrowser
    spec:
      containers:
        - image: filebrowser/filebrowser:v2.42.5-s6
          imagePullPolicy: IfNotPresent
          name: main
          env:
            - name: PUID
              value: 1000
            - name: PGID
              value: 1000
          resources:
            limits:
              cpu: 500m
              memory: 1024Mi
            requests:
              cpu: 250m
              memory: 512Mi
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /srv
              name: data
            - mountPath: /database
              name: database
      nodeSelector:
        kubernetes.io/hostname: hometheo-control-plane-1
      volumes:
        - configMap:
            name: filebrowser
          name: config
        - name: data
          persistentVolumeClaim:
            claimName: media-qbittorrent-downloads
        - name: database
          persistentVolumeClaim:
            claimName: filebrowser-database
