apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../base/resources/routes

patches:
  # Patch HTTPRoute hostname for ArgoCD (TLS terminated at Gateway, re-encrypted to backend)
  - target:
      kind: HTTPRoute
      name: argocd-route
    patch: |
      - op: replace
        path: /spec/hostnames/0
        value: argo.etcd.me

  # Patch HTTPRoute hostname for Grafana (Loki stack)
  - target:
      kind: HTTPRoute
      name: grafana-route
    patch: |
      - op: replace
        path: /spec/hostnames/0
        value: loki.etcd.me
